<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Webseite</title>
  <!-- Füge hier die Links zu den Stylesheets, JavaScript-Dateien oder anderen externen Ressourcen hinzu -->
  <header>

</header>
</head>

<app-navbar navbarText="Employee Management Service">
  <app-button [btnClass]="ButtonVariant.Success" buttonText="Mitarbeiter anlegen"></app-button>
  <app-button [btnClass]="ButtonVariant.Danger" buttonText="Logout"></app-button>
</app-navbar>


<!-- Füge hier JavaScript-Dateien oder Skripte hinzu, wenn nötig -->
</html>
