<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management Service</title>
</head>

<body>
<app-navbar navbarText="Employee Management Service">
  <app-button [btnClass]="ButtonVariant.Success" buttonText="Mitarbeiter anlegen"></app-button>
  <app-button [btnClass]="ButtonVariant.Danger" buttonText="Logout"></app-button>
</app-navbar>
<app-employee-list></app-employee-list>
</body>

</html>
