<h2>Personaldaten</h2>
<app-input #firstname placeholder="Vorname"></app-input>
<p>Nachname</p>
<app-input #lastname placeholder="Nachname"></app-input>
<p>Telefonnummer</p>
<app-input #phone placeholder="Telefonnummer"></app-input>
<p>PLZ</p>
<app-input #postcode placeholder="PLZ"></app-input>
<p>Stadt</p>
<app-input #city placeholder="Stadt"></app-input>
<p>Straße</p>
<app-input #street placeholder="Straße"></app-input>
<p>Qualifikationen</p>
<app-qualification-label labelText="Java"></app-qualification-label>
<div class="buttons">
  <app-button (buttonClick)="updateData(firstname.inputValue, lastname.inputValue, phone.inputValue, postcode.inputValue,
  city.inputValue, street.inputValue)" [btnClass]="ButtonVariant.Success" buttonText="hinzufügen"></app-button>
  <app-button [btnClass]="ButtonVariant.Danger" buttonText="abbrechen"></app-button>
</div>
