<!DOCTYPE html>
<html lang="de">
<head>
    <title>Mitarbeiter Details</title>
</head>
<body>
<main>
    <form>
        <h2>Mitarbeiter Details</h2>
        <app-input placeholder="Vorname"></app-input>
        <p>Nachname</p>
        <app-input placeholder="Nachname"></app-input>
        <p>Telefonnummer</p>
        <app-input placeholder="Telefonnummer"></app-input>
        <p>PLZ</p>
        <app-input placeholder="PLZ"></app-input>
        <p>Stadt</p>
        <app-input placeholder="Stadt"></app-input>
        <p>Straße</p>
        <app-input placeholder="Straße"></app-input>
        <p>Qualifikationen</p>
        <app-qualification-label labelText="Java"></app-qualification-label>
        <div>
            <app-button [btnClass]="ButtonVariant.Success" buttonText="hinzufügen"></app-button>
            <app-button [btnClass]="ButtonVariant.Danger" buttonText="abbrechen"></app-button>
        </div>
    </form>
</main>
<footer>
    &copy; 2024 Project Management Service
</footer>
</body>
</html>
