<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management Service</title>
</head>

<app-navbar navbarText="Employee Management Service">
  <app-button [btnClass]="ButtonVariant.Success" buttonText="Mitarbeiter anlegen"></app-button>
  <app-button [btnClass]="ButtonVariant.Danger" buttonText="Logout"></app-button>
</app-navbar>

<body>
<h3>Mitarbeiterdetails</h3>
<p>Vorname</p>
<div style="width: 300px">
  <app-input inputValue="Vorname"></app-input>
  <p>Nachname</p>
  <app-input inputValue="Nachname"></app-input>
  <p>Telefonnummer</p>
  <app-input inputValue="Telefonnummer"></app-input>
  <p>PLZ</p>
  <app-input inputValue="PLZ"></app-input>
  <p>Stadt</p>
  <app-input inputValue="Stadt"></app-input>
  <p>Straße</p>
  <app-input inputValue="Straße"></app-input>
  <p>Qualifikationen</p>
  <app-qualification-label labelText="Java"></app-qualification-label>
</div>
<div class="button-position">
  <app-button [btnClass]="ButtonVariant.Success" buttonText="bearbeiten" style="margin-left: auto"></app-button>
  <app-button [btnClass]="ButtonVariant.Danger" buttonText="zurück"></app-button>
</div>
</body>
