<div class="component-container">
  <h2>Mitarbeiter Details</h2>
  <div class="grid-container">
    <div class="input-container">
      <p>Vorname</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.firstName }}" placeholder="Vorname"></app-input>
    </div>
    <div class="input-container">
      <p>Nachname</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.lastName }}" placeholder="Nachname"></app-input>
    </div>
    <div class="input-container">
      <p>Telefonnummer</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.phone }}" placeholder="Telefonnummer"></app-input>
    </div>
    <div class="input-container">
      <p>PLZ</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.postcode }}" placeholder="PLZ"></app-input>
    </div>
    <div class="input-container">
      <p>Stadt</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.city }}" placeholder="Stadt"></app-input>
    </div>
    <div class="input-container">
      <p>Straße</p>
      <app-input [isReadOnly]="true" inputValue="{{ employee?.street }}" placeholder="Straße"></app-input>
    </div>
  </div>
  <div class="qualifications-container">
    <p>Qualifikationen</p>
    <div>
      <ul>
        <li *ngFor="let qualifications of employee?.qualifications">
          <app-qualification-label labelText=" {{ qualifications.skill }}"></app-qualification-label>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-container">
    <app-button [btnClass]="ButtonVariant.Success" buttonText="Bearbeiten"></app-button>
    <app-button [btnClass]="ButtonVariant.Danger" buttonText="Abbrechen" routerLink="/overview"></app-button>
  </div>
</div>
