<div class="component-container">
  <h2>Mitarbeiter bearbeiten</h2>
  <div class="grid-container">
    <div class="input-container">
      <p>Vorname</p>
      <app-input #firstname inputValue="{{ employee?.firstName }}" placeholder="Vorname"></app-input>
    </div>
    <div class="input-container">
      <p>Nachname</p>
      <app-input #lastname  inputValue="{{ employee?.lastName }}" placeholder="Nachname"></app-input>
    </div>
    <div class="input-container">
      <p>Telefonnummer</p>
      <app-input #phone inputValue="{{ employee?.phone }}" placeholder="Telefonnummer"></app-input>
    </div>
    <div class="input-container">
      <p>PLZ</p>
      <app-input #postcode inputValue="{{ employee?.postcode }}" placeholder="PLZ"></app-input>
    </div>
    <div class="input-container">
      <p>Stadt</p>
      <app-input #city inputValue="{{ employee?.city }}" placeholder="Stadt"></app-input>
    </div>
    <div class="input-container">
      <p>Straße</p>
      <app-input #street inputValue="{{ employee?.street }}" placeholder="Straße"></app-input>
    </div>
  </div>
  <div class="qualifications-container">
    <p>Qualifikationen</p>
    <div>
      <ul>
        <li *ngFor="let qualifications of employee?.qualifications">
          <app-qualification-label labelText=" {{ qualifications.skill }}"></app-qualification-label>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-container">
    <app-button (buttonClick)="updateEmployeeData(firstname.inputValue, lastname.inputValue, phone.inputValue,
    postcode.inputValue, city.inputValue, street.inputValue)"
                [btnClass]="ButtonVariant.Success" buttonText="Übernehmen" routerLink="/overview"></app-button>
    <app-button [btnClass]="ButtonVariant.Danger" buttonText="Abbrechen" routerLink="/overview"></app-button>
  </div>
</div>
